<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <!-- <link rel="stylesheet" href="/styles/resets.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>

  <header>
    <div class="">
      Logo
    </div>
    <div class="">
      navigation
    </div>
  </header>

  <main>
    <h1 class="title">Hello webpack</h1>

    <section>
      <button id="user-btn" onclick="Client.getUsers()">Get users</button>
    </section>

    <section>
      <form class="" onsubmit="return Client.handleSubmit(event)">
        <input id="name" type="text" name="input" value="" placeholder="Name">
        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)">
      </form>
    </section>

    <section>
      <strong>Form Results:</strong>
      <div id="results"></div>
    </section>

    <section>
      <h3>User List:</h3>
      <ul id="user-list"></ul>
    </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>

</body>

</html>
